/* Media query for phone devices */

@media only screen and (max-width: 767px) {
  /* Header starts */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: rgb(30, 30, 30);
    color: white;

    padding: 5em;
    width: 100%;
  }

  .logo {
    display: inline-block;
    text-align: left;

    padding-bottom: 1em;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .header-1 {
    display: inline-block;
    text-align: left;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    padding: 0.5em;
    text-decoration: none;

    margin: auto;
  }

  .linkService {
    display: none;
  }

  /* Body Section Starts */

  /* About Me Section Starts */

  body {
    font-family: sans-serif;
    margin: 0px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5em;

    width: 100%;
  }

  .aboutmepic {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 400px;

    padding-bottom: 2.5em;
  }

  .text-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    vertical-align: middle;
    box-sizing: border-box;

    width: auto;
    margin: auto;
  }

  .aboutmepic img {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    padding: 4em;
  }

  .text-right .about-me-1 {
    font-size: 3em;
  }

  .text-right .about-me-text {
    font-size: 1.25em;
  }

  /* About Me Section Ends */

  .freelance {
    display: grid;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: auto;

    padding: 5em;
    padding-bottom: 30em;
  }

  .freelance-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: center;

    padding-bottom: 3rem;
  }

  .freelance-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;

    font-size: 2em;
    background-color: white;
    line-height: 1;
    margin-bottom: 2px;
  }

  .freelance-desc {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 25px;
  }

  .grid {
    display: grid;
    align-items: center;
    justify-content: center;

    text-align: center;

    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 20px 50px;

    height: 100vh;
    width: 100%;
  }

  .cell1 {
    width: 100%;
    margin: 0 auto;
  }

  .cell2 {
    width: 100%;
    margin: 0 auto;
  }

  .cell3 {
    width: 100%;
    margin: 0 auto;
  }

  .cell4 {
    width: 100%;
    margin: 0 auto;
  }

  .cell5 {
    width: 100%;
    margin: 0 auto;
  }

  .cell6 {
    width: 100%;
    margin: 0 auto;
  }

  /* Portfolio Section Starts */

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5em;

    padding-top: 25em;

    width: 100%;
    margin: auto;
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .one1 {
    background-color: white;
    width: 100%;
    margin-right: 2em;
    margin-left: 5em;
  }

  .sectionTitle {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
  }

  .sectionTechnology {
    font-size: 1em;
    font-weight: bold;
  }

  .two2 {
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-right: 5em;
    margin-left: 5em;
  }

  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-left: 2em;
  }

  .three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-left: 2em;
  }

  .screenshots {
    width: 725px;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  .screenshots2 {
    margin: 1em;

    max-width: 362px;
    max-height: 250px;
    width: auto;
    height: auto;

    object-fit: cover;
    object-position: center center;
    display: block;
  }

  /* Porftfolio Section Ends */

  /* Get in Touch Section starts */

  .contact-me-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5em;

    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  * {
    font-family: "Poppins", sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(30, 30, 30);
    color: white;

    padding: 1em;
    width: 100%;
    margin: auto;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 30em;
  }

  a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.5px;
  }

  a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  a:hover:after {
    width: 100%;
  }

  .logo {
    height: 100px;
    width: 100px;
  }

  .logo img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
  }

  li {
    list-style: none;
  }

  /* Body Section Starts */

  /* About Me Section Starts */

  body {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px;
  }

  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    position: auto;

    width: 100%;
    padding: 1em;
    padding-top: 10em;
    padding-bottom: 11em;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin-right: 15em;
  }

  .aboutmepic {
    height: 400px;
    width: 500px;
  }

  .text-right {
    align-items: center;
    max-width: 360px;
  }

  .aboutmepic img {
    height: 100%;
    width: 100%;
  }

  .text-right .about-me-1 {
    font-size: 3em;
    padding-bottom: -20px;
    max-height: 50px;
  }

  .text-right .about-me-text {
    font-size: 1.25em;
  }

  /* About Me Section Ends */
  /* Freelance Section Begins */

  .freelance {
    display: grid;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: auto;

    padding: 1em;
    padding-top: 7em;
    padding-bottom: 7em;
  }

  .freelance-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 3rem;
  }

  .freelance-title {
    text-align: center;
    align-items: top;
    font-size: 3em;
    background-color: white;
    line-height: 1;
    margin-bottom: 2px;
  }

  .freelance-desc {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 25px;
  }

  .grid {
    display: grid;
    text-align: center;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 50px;

    margin-right: 150px;
    margin-left: 150px;
  }

  /* Freelance Section Ends */
  /* Portfolio Section Starts */

  .portfolio-header {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: auto;
    padding: 1em;
    padding-top: 7em;
    padding-bottom: 12em;
  }

  .portfolio-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .one1 {
    background-color: white;
    width: 100%;
    margin-right: 2em;
    margin-left: 5em;
  }

  .sectionTitle {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
  }

  .sectionTechnology {
    font-size: 1em;
    font-weight: bold;
  }

  .two2 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-right: 5em;
    margin-left: 5em;
  }

  .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-right: 5em;
    margin-left: 5em;
  }

  .three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 5em;
    margin-right: 5em;
    margin-left: 5em;
  }

  .screenshots {
    width: 725px;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  .screenshots2 {
    margin: 1em;

    max-width: 362px;
    max-height: 250px;
    width: auto;
    height: auto;

    object-fit: cover;
    object-position: center center;
    display: block;
  }

  .grid1 {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-bottom: 55px;
  }

  .gridItems {
    margin: 10px;
  }

  /* Porftfolio Section Ends */

  /* Get in Touch Section starts */

  .contact-me-form {
    display: none;
    text-align: center;
  }

  input {
    padding: 12px 20px;
    width: 25%;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid;
    justify-content: center;
  }

  textarea {
    padding: 10px 250px 10px 250px;
    min-width: 25%;
    max-width: 25%;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid;
    margin-bottom: 13px;
    height: 120px;
    text-align: center;
    justify-content: center;
  }

  .header-form {
    text-align: center;
  }

  /* Get in Touch Section ends */

  .freelance-web {
    display: none;
  }
}
